<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/titulos">
                <center>
                    <img class="logo" alt="Brand" src="/images/logo.png"/>
                </center>
            </a>
        </div>
    </div>
</nav>

</html>