<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="LayoutPadrao">
<head>
    <title>Pesquisa de títulos</title>
</head>

<section layout:fragment="conteudo">
    <div layout:include="MensagemGeral"></div>
    <div class="panel panel-default panel-style">
        <div class="panel-heading heading-style">
            <div class="clearfix">
                <div class="row top-style-box">
                    <div class="col-md-2 account-left-style">
                            <h4 class="account-title"><strong>Your Balance:</strong></h4>
                            <span class="money">
                                <i class="ion-social-usd icon-money"></i> <strong class="moneyNumber">3.000,00</strong>
                            </span>
                            <span class="label label-primary edit-btn"><i class="ion-edit"></i></span>
                    </div>

                    <div class="col-md-9">
                        <form method="GET" class="form-horizontal" th:object="${filtro}">
                            <div class="form-group group-style-search">
                                <div class="col-md-10">
                                    <div class="input-group search-form">
                                        <input type="text" class="form-control search-input" placeholder="What do you searching?"
                                               autofocus="autofocus" th:field="*{descricao}"/>
                                        <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-search" >
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-1">
                        <a href="/titulos/novo" class="circle-button" ><i class="ion-plus-round"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container row-style">
            <hr/>
        </div>
        <div class="panel-body table-style">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="text-center col-md-1">#</th>
                    <th>Description</th>
                    <th class="text-center col-md-2">Exp. date</th>
                    <th class="text-center col-md-2">Value</th>
                    <th class="text-center col-md-2">Status</th>
                    <th class="text-center col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="titulo : ${titulos}">
                    <td class="text-center" th:text="${titulo.codigo}"></td>
                    <td class="" th:text="${titulo.descricao}"></td>
                    <td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
                    <td class="text-center" th:text="|R$ ${titulo.valor}|"></td>
                    <td class="text-center" th:attr="data-role=${titulo.codigo}">
                        <span class="label" id="teste" th:text="${titulo.status.descricao}"
                            th:classappend="${titulo.pendente ? 'label-danger' : 'label-success'}"></span>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary btn-xs" th:href="@{/titulos/{codigo}(codigo=${titulo.codigo})}" title="Editar" rel="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                           th:attr="data-codigo=${titulo.codigo}, data-descricao=${titulo.descricao}"
                           title="Excluir" rel="tooltip" data-placement="top">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a class="btn btn-success btn-xs js-atualizar-status" th:if="${titulo.pendente}"
                           title="Receber" rel="tooltip" data-placement="top"
                           th:attr="data-codigo=${titulo.codigo}"
                           th:href="@{/titulos/{codigo}/receber(codigo=${titulo.codigo})}">
                            <span class="glyphicon glyphicon-check"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nnehum titulo foi encontrado</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div layout:include="DialogoConfirmacaoExclusao"></div>

    </div>

</section>

<!--<script th:inline="javascript">-->
<!--</script>-->

</html>